@import "tailwindcss";

:root {
  --color-black: #000112;
  --color-very-dark-grey: #20212c;
  --color-dark-grey: #2b2c37;
  --color-lines-dark: #3e3f4e;
  --color-medium-grey: #828fa3;
  --color-lines-light: #e4ebfa;
  --color-light-grey: #f4f7fd;
  --color-white: #ffffff;
  --color-purple: #635fc7;
  --color-purple-hover: #a8a4ff;
  --color-red: #ea5555;
  --color-red-hover: #ff9898;

  --sidebar-width-desktop: 300px;
  --header-height-mobile: 64px;
  --header-height-desktop: 97px;

  --font-sans: "Plus Jakarta Sans", system-ui, sans-serif;

  font-family: var(--font-sans);
  color: var(--color-black);
  background: var(--color-light-grey);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  color: var(--color-white);
  background: var(--color-very-dark-grey);
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
}

@theme {
  --font-sans: "Plus Jakarta Sans", system-ui, sans-serif;

  --color-black: #000112;
  --color-very-dark-grey: #20212c;
  --color-dark-grey: #2b2c37;
  --color-lines-dark: #3e3f4e;
  --color-medium-grey: #828fa3;
  --color-lines-light: #e4ebfa;
  --color-light-grey: #f4f7fd;
  --color-white: #ffffff;
  --color-purple: #635fc7;
  --color-purple-hover: #a8a4ff;
  --color-red: #ea5555;
  --color-red-hover: #ff9898;
}